<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="footer-anchor" href="https://github.com/NishantGarg123"><i class="fa-brands fa-square-github icons"  aria-hidden="true"></i></a>            
            <a href="https://www.instagram.com/krishna74012/profilecard/?igsh=b3BiZ2g5NGZhNGtj"><i class="fa-brands fa-square-instagram  icons "aria-hidden="true"></i></a>
            
        </div>
        <div class="f-info-brand">
            <a class="footer-anchor" href="/attendance">&copy;Attendance Private Limited</a>
        </div>
        <div class="f-info-links">
            <a class="footer-anchor" href="/attendance/privacy">Privacy</a>
            <a class="footer-anchor" href="/attendance/terms">Terms&conditions</a>
        </div>
    </div>
</footer>