<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence portal</title>
</head>
<style>
    a{
        text-decoration: none;
    }
    header nav{

        display: flex;

    }
    header nav li{

        margin: 3px 2px;
    }
</style>
<body>

    <header>
        <nav>
            <li><a href="/attendance">ABC attendance portal</a></li>
            <li><a href="/attendance/login">Login</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">contect us</a></li>
            <li><a href="#">Services</a></li>
        </nav>
    </header>
    <h2>Welcome to the attendence portal </h2>
    <hr>
    <button><a href="/attendance/login">Login</a></button>
</body>
</html>