<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <form  method=POST action="/attendance/login" class="needs-validation" novalidate>
    <div class="col-8 offset-1 mt-3">
        <h2>Student</h2>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="email" placeholder="enter your email" name="email" class="form-control" required>    
            <div class="invalid-feedback">please entre the valid email</div>

            <div class="mb-3">
                <label class="form-label" for="pass">Password</label>
                <input type="password" name="pass" placeholder="enter your password" class="form-control " required>    
                <div class="invalid-feedback">please enter the valid password</div>
            </div>        
        </div>
        <button class="btn btn-dark">submit</button>
        <button class="btn btn-outline-dark ms-4"><a href="/attendance/Tlogin">I am a teacher</a></button>
    </div>
           
        </form>
    </div>
    <br><br>        
</body>
