<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h2>Login as a Student</h2>
    <form  method=POST action="/attendance/login">
        <label for="email">Email</label>
        <input type="email" placeholder="enter your email" name="email">

        <label for="pass">Password</label>
        <input type="password" name="pass" placeholder="enter yor password">

        <button>submit</button>
    </form>
    <br>
    <button><a href="/attendance/create">create a new account</a></button>
    <hr>

    <h2>Login as a Teacher</h2>
    <form  method=POST action="/attendance/Tlogin">
        <label for="email">Email</label>
        <input type="email" placeholder="enter your email" name="email">

        <label for="pass">Password</label>
        <input type="password" name="pass" placeholder="enter yor password">

        <button>submit</button>
    </form>
    <br>
    <button><a href="/attendance/Tcreate">create a new account</a></button>

    
</body>
</html>