<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new account</title>
</head>
<body>
    <h2>Create new account</h2>
    <hr>
    <form method="post" action="/attendance/create">

        <label for="name"> Name</label>
        <input type="text" placeholder="enter the  name" name="name"><br><br>

        <label for="email">email</label>
        <input type="email" placeholder="enter the email" name="email"><br><br>

        <label for="pass">password</label>
        <input type="password" placeholder="enter the password" name="pass"><br><br>


        <label for="repass">Re-enter password</label>
        <input type="password" placeholder="enter the password" name="repass"><br><br>

        <label for="year">Current year</label>
        <input type="text" placeholder="enter the current year" name="year"><br><br>

        <label for="dob">Date of birth</label>
        <input type="date" placeholder="enter your date of birth" name="dob"><br><br>

        <label for="collegeid">college id pass</label>
        <input type="text" placeholder="college id password" name="collegeid"><br><br>
        <button>create</button>
    </form>
    
</body>
</html>