<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3 mb-3 offset-2">
        <h2 class="head-heading">Welcome on Admin page</h2>
            <div class="alert alert-primary" role="alert">
                <h4>email-gargacsnishant@gmail.com</h4>
                <h4>pass-321</h4>
            </div>
        <div class="col-8">
            <form method="post" action="/attendance/head" class="needs-validation" novalidate>
            
                <label class="form-label" for="email">email</label>
                <input type="email" name="email" placeholder="enter email" class="form-control mb-3" required>
                <div class="invalid-feedback">please enter the valid email</div>
        
                <label class="form-label" for="password">Password</label>
                <input type="password" name="password" placeholder="enter password" class="form-control mb-4" required>
                <div class="invalid-feedback">please enter the password</div>

                <button class="btn btn-dark">submit</button>
                </form>
        </div>
    </div>
    
</body>